@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('footer.css');

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e8e8e8; 
}

section {
  padding: 28px 8%;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.1);
  cursor: pointer;
  background-color: #de5114; 
  color: #e8e8e8; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-default:hover {
  background-color: #b23e0f; 
  color: #fff;
}

.btn-custom-motorista {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.1);
  cursor: pointer;
  background-color: #de5114; 
  color: #e8e8e8; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom-motorista:hover {
   background-color: #b23e0f; 
  color: #fff;
}


.social_media_buttons {
  display: flex;
  gap: 18px;
}

.social_media_buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #de5114; 
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: #e8e8e8; 
  box-shadow: 0px 0px 12px 4px rgba(222, 81, 20, 0.5);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.social_media_buttons a:hover {
  box-shadow: 0px 0px 12px 8px rgba(222, 81, 20, 0.8);
  background-color: #b23e0f; 
}

.section-title {
  color: #de5114; 
  font-size: 2.563rem;
}

.section-subtitle {
  font-size: 2.1875rem;
  color: #1e1e1e; 
}
